@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background-color: cornflowerblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'roboto', sans-serif;/*modifier la police du texte*/
    font-weight: bold;/*pour mettre en gras un texte*/
}
form{
    background-color: aliceblue;
    padding: 30px;/*mettre une même marge aux 4 côtés d'une page*/
    border-radius: 10px; /*pour arrondir les bords*/
}
form h1{
    font-size: 20px;/*modifier la taille du texte*/
}
form .séparation{
    width: 100%;
    height: 1px;
    background-color: rgb(27, 72, 155);
}
form .corps-formulaire{
    display: flex;/*aligner à gauche et à droite*/
    flex-wrap: wrap;/*pour qu'il puisse s'aligner en vertical si on reduit la taille de la page*/
    margin-bottom: 30px;
}
form .corps-formulaire .groupe{
    position: relative;/*positionner tous les div groupes dans le flux normal de la page*/
    margin-top: 20px;
    display: flex;
    flex-direction: column; /*pour les aligner et non empiler*/
}
form .corps-formulaire .gauche .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;/*haut droite bas gauche*/
    border: 1px solid #c9c9c9;
    outline-color: rgb(27, 72, 155);/*outline ligne à l'extérieur de l'input et outline-color pour changer la couleur de cette ligne*/
    border-radius: 5px;
}
form .corps-formulaire .gauche .groupe i{
    position: absolute;/*positionner l'élèment par rapport à son parent le plus proche*/
    left: 0;
    top: 25px;
    padding: 9px 8px;/*haut bas droite gauche*/
    color: dodgerblue;
}
form .corps-formulaire .droite{
    margin-left: 40px; 
}
form .corps-formulaire .droite .groupe{
    height: 100%;
}
form .corps-formulaire .droite .groupe textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(253, 251, 244);
    border: 2px solid rgb(39, 132, 220);
    outline: none;
    border-radius: 5px;
    resize: none;/*effacer le petit bouton qui permet à l'utilisateur de redimensionner comme il veut la taille du texterea*/
    height: 72%;
}
form .pied-formulaire button{
    margin-top: 20px;
    background-color: rgb(42, 42, 206);
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
form .pied-formulaire button:hover{
    transform: scale(1.05);
}
@media screen and (max-width:920px){
    form .corps-formulaire .droite{
        margin-left:  0px;
    }
}